@import './nord';

.cosmic {
  &-applications {
    &-dialog {
      background-color: $nord0;
      & .app-well-app-running-dot {
        background-color: $nord3;
      }
    }
    
    &-icon {
      color: $nord5;
    }
    
    &-folder-title {
      color: $nord5;
    }
    
    &-available {
      color: $nord5;
    }
    &-search-entry {
      height: 20px;
      spacing: 2px;
    }
    &-search-entry, 
    &-search-entry > * {
      color: $nord5 !important;
      background-color: $nord3 !important;
      border: none;
    }
  }
  &-folder {
    &-edit-button {
      background: $nord1;
    } 
    &-edit-button:hover {
      background: $nord2;
    } 
  }
}
// .cosmic-applications-box {
//   background-color: $nord0 !important;
// }